@font-face
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap
@font-face
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap
@font-face
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap


$white = #fff
$black = #21242e
$gray = #e4e4e4
$gray-bg = #f7f7f7
$accent = #d0bc7a
$accent-light = rgba(208, 188, 122, 0.50)
$red = #eb5757

:root
    --scale 100vw/1300
    --slider-gap: calc(var(--scale)*32);
    --slider-cols: 3.9;
tr(){
	transition all 0.3s ease-in-out
}

html
	box-sizing border-box
	overflow-x hidden

*,
*::after,
*::before
	box-sizing inherit

body
    min-width 320px
    background-color $white
    font-family 'Roboto', sans-serif
    font-weight 500
    color $black
    overflow-x hidden

// Global

.container
    width 100%
    //max-width 1280px
    padding 0 calc(var(--scale)*80)
    margin 0 auto

.list-reset 
    list-style none
    padding 0
    margin 0

.btn-reset
    background-color transparent
    padding 0
    border none
        
a
    text-decoration none
    color inherit

img
    max-width 100%

.visually-hidden 
    position absolute
    width 1px
    height 1px
    margin -1px
    border 0
    padding 0
    clip rect(0 0 0 0)
    overflow hidden

.stop-scroll {
    overflow-y: hidden;
    overscroll-behavior: contain;
}
.hidden,
.desktop-hidden
    display: none !important
.header-48
    font-size: calc(var(--scale)*48);
    font-style: normal;
    font-weight: 500;
    line-height: 116.667%
.header-24
    font-size: calc(var(--scale)*24)
    font-style: normal;
    font-weight: 500;
    line-height: 100%
.text-16
    font-size: calc(var(--scale)*16);
    font-style: normal;
    font-weight: 500;
    line-height: 150%
.text-14
    font-size: calc(var(--scale)*14);
    font-style: normal;
    font-weight: 500;
    line-height: 171.429%
    letter-spacing: 0.56px;

// Header
.header
    z-index 10
    position: fixed
    top 0
    left 0 
    right 0
    width 100%
    color $accent
    background-color $white
    padding calc(var(--scale)*14) 0
    border-bottom: 1px solid $gray;
    &__container
        display flex
        justify-content: space-between
        align-items: center
        padding 0 calc(var(--scale)*30)
    &__logo svg
        tr()
        width calc(var(--scale)*91)
        height calc(var(--scale)*32)
        &:hover
            opacity .5
    &__left-side
        display flex
        align-items: center
        gap calc(var(--scale)*33)
    &__icon
        width calc(var(--scale)*24)
        height calc(var(--scale)*24)
    &__menu
        tr()
        position absolute
        top calc(100% - 1px)
        left: 0;
        display: flex;
        gap: calc(var(--scale)*32);
        width: 100%;
        color $black
        background-color $white
        padding calc(var(--scale)*204) calc(var(--scale)*80) calc(var(--scale)*268)
        opacity 0
        visibility hidden
        &&.active
            opacity 1
            visibility visible

.nav
    flex 0 0 50%
    &__title
        margin 0
        margin-bottom calc(var(--scale)*24)
    &__list
        color rgba(33, 36, 46, 0.80)
        font-weight 400
    &__item
        tr()
        &:not(:last-child)
            margin-bottom calc(var(--scale)*16)
        &:hover
            color $black
    
.contact
    &__link
        tr()
        display: flex;
        align-items: center;
        gap calc(var(--scale)*4)
        & svg path
            tr()
        &:hover
            color $black
        &:hover svg path
            stroke $black

.actions
    display: flex
    align-items: center;
    gap calc(var(--scale)*4)
    &__btn
        display: flex;
        align-items: center;
        justify-content: center;
        padding calc(var(--scale)*4)
        cursor pointer
        & svg path
            tr()
    &__btn--fav:hover svg path
        stroke $black
    &__btn--personal:hover svg path
        fill $black
    &__btn--fav
        position relative
    &__label
        position absolute
        top calc(var(--scale)*2)
        right -1px
        min-width calc(var(--scale)*13)
        color: $white
        text-align: center;
        font-size: calc(var(--scale)*8);
        font-style: normal;
        font-weight: 500;
        line-height: 100%
        letter-spacing: -0.64px;
        background: $black
        padding calc(var(--scale)*3) calc(var(--scale)*2)
        border-radius: calc(var(--scale)*100);


.burger
    position relative
    width calc(var(--scale)*32)
    height calc(var(--scale)*32)
    padding calc(var(--scale)*4)
    cursor pointer
    &__line
        tr()
        position: absolute;
        top: calc(var(--scale)*12);
        left: 36%
        transform: translateX(-50%)
        width: calc(var(--scale)*20);
        height: calc(var(--scale)*1.5);
        background-color $black
        &:last-child 
            top: calc(var(--scale)*18);
    &:not(.active):hover &__line
        top: calc(var(--scale)*10);
        background-color $accent
        &:last-child 
            top: calc(var(--scale)*20);
    &.active &__line
        top 50%
        transform: translateX(-50%) rotate(45deg)
        &:last-child 
            transform: translateX(-50%) rotate(-45deg)

.menu
    position: absolute


.profile
    border-bottom: calc(var(--scale)*1) solid $gray
    &__container
        display: flex;
        padding 0
    &__left
        flex: 0 1 22%
        padding calc(var(--scale)*109) calc(var(--scale)*32) calc(var(--scale)*80) calc(var(--scale)*80)
        border-right: calc(var(--scale)*1) solid $gray
    &__right
        flex: 0 1 83%
    &__right > *
        padding calc(var(--scale)*80) calc(var(--scale)*95)
    &__right &__title
        padding-top calc(var(--scale)*109)
        margin 0
    &__nav
        text-transform: uppercase;
    &__title
        font-size: calc(var(--scale)*80);
        font-style: normal;
        font-weight: 400;
        line-height: 100%
        text-transform: uppercase
    &__title,
    &__form
        border-bottom: calc(var(--scale)*1) solid $gray
    &__btn
        tr()
        color: $white;
        text-align: center;
        background-color $black
        padding calc(var(--scale)*16) calc(var(--scale)*32)
        border-radius calc(var(--scale)*4)
        cursor pointer
        &:hover
            background-color $accent
        &:active
            background-color $accent-light
.profile-nav
    &__item
        tr()
        &:not(:last-child)
            margin-bottom calc(var(--scale)*6)
        &:hover
            opacity .56
        &:active,
        &&.active
            color $accent
.form
    &__title
        margin 0
        margin-bottom calc(var(--scale)*48)
    &__field:not(:last-child)
        margin-bottom calc(var(--scale)*26)
    &__label
        font-weight: 400;
        color: rgba(33, 36, 46, 0.40);
        display: block
        margin-bottom calc(var(--scale)*14)
    &__input
        tr()
        width calc(var(--scale)*544)
        max-width 100%
        color: $black
        font-weight: 400;
        background: $gray-bg
        padding calc(var(--scale)*16)
        border calc(var(--scale)*1) solid transparent
        outline none
        border-radius calc(var(--scale)*4)
        &::placeholder
            tr()
            color: rgba(33, 36, 46, 0.40);
        &:hover::placeholder
            color rgba(33, 36, 46, 0.80)
        &:focus
            border calc(var(--scale)*1) solid #000


.trands
    padding calc(var(--scale)*112) 0
    &__top 
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-bottom calc(var(--scale)*48)
    &__title
        text-transform: uppercase
        margin 0
        & span
            color $accent
    &__link
        tr()
        display: flex
        align-items: center
        gap calc(var(--scale)*8)
        margin-bottom calc(var(--scale)*10)
        & svg
            width calc(var(--scale)*16)
            height calc(var(--scale)*16)
        & svg > *
            tr()
        &:hover
            color $accent
            & svg > *
                stroke $accent

.swiper 
    overflow: visible;
    &-wrapper 
        display: flex;

.slide
    display: flex;
    flex-direction: column;
    position: relative
    flex: 0 0 calc(100% / var(--slider-cols) - var(--slider-gap))
    &__link
        tr()
        padding calc(var(--scale)*13) calc(var(--scale)*24) calc(var(--scale)*24)
        background-color: $gray-bg
        border-radius: calc(var(--scale)*8)
        border 1px solid transparent
        &:hover
            border-color rgba(33, 36, 46, 0.40)
    &__top
        display: flex;
        justify-content: space-between;
        align-items: center;
        position absolute
        top calc(var(--scale)*27)
        left calc(var(--scale)*24)
        right calc(var(--scale)*24)
    &__label
        color: $white;
        font-weight: 400;
        line-height: 128.571%
        padding calc(var(--scale)*5) calc(var(--scale)*12)
        background-color: $red
        border-radius calc(var(--scale)*100)
        margin 0
    &__fav
        cursor pointer
        & svg
            width calc(var(--scale)*24)
            height calc(var(--scale)*24)
        & svg path
            tr()
        &:hover svg path
            fill rgba(33, 36, 46, 0.40)
    &&.saved svg path
        fill $accent
    &__color
        position: absolute
        width 100%
        height calc(var(--scale)*12)
        top calc(var(--scale)*259)
        left 0
        right 0
    &__img
        margin-bottom calc(var(--scale)*37)
    &__title,
    &__price
        font-family: "Times New Roman";
        font-size: calc(var(--scale)*18);
        font-style: italic;
        font-weight: 700;
        line-height: 100%
    &__title
        margin 0
        margin-bottom calc(var(--scale)*7)
    &__descr
        margin 0
        margin-bottom calc(var(--scale)*1)
    &__descr,
    &__vol
        color rgba(33, 36, 46, 0.80)
        font-weight 400
    &__vol
        margin 0
        margin-bottom calc(var(--scale)*12)
    &__price
        display: flex
        gap calc(var(--scale)*16)
    &__actual-price,
    &__old-price
        margin 0
    &__old-price
        color rgba(33, 36, 46, 0.40)
        text-decoration: line-through




@import './media.styl'