@media (max-width 768px)
    :root
        --scale 100vw/375
        --slider-gap: calc(var(--scale)*8);
        --slider-cols: 1.3;
   
    .container
        padding 0 calc(var(--scale)*16)

 
    .mobile-hidden
        display: none
    .desktop-hidden
        display: block
    .header-48
        font-size: calc(var(--scale)*28);
        line-height: 114%
    .header-24
        font-size: calc(var(--scale)*20)
    .text-16
        font-size: calc(var(--scale)*16);
    .text-14
        font-size: calc(var(--scale)*14);
        line-height: 128%

    // Header
    .header
        padding calc(var(--scale)*16) 0
        &__container
            padding 0 calc(var(--scale)*16)
        &__left-side
            gap calc(var(--scale)*8)
        &__icon
            width calc(var(--scale)*24)
            height calc(var(--scale)*24)
        &__menu
            display: flex;
            flex-direction: column
            gap: calc(var(--scale)*40);
            padding calc(var(--scale)*32) calc(var(--scale)*16) calc(var(--scale)*260)

    .nav
        flex 0 0 100%
        &__title
            margin-bottom calc(var(--scale)*16)
        &__item
            &:not(:last-child)
                margin-bottom calc(var(--scale)*8)

    .actions
        gap calc(var(--scale)*8)
        margin-right calc(var(--scale)*16)

    .profile
        border-bottom: none
        &__container
            flex-direction: column
            padding 0
        &__left
            flex: 0 1 100%
            padding calc(var(--scale)*8) calc(var(--scale)*16)
            border-bottom: calc(var(--scale)*1) solid $gray
            border-right none
        &__right > *
            padding calc(var(--scale)*32) calc(var(--scale)*16)
        &__right &__title
            padding-top calc(var(--scale)*32)
            padding-bottom 0
            font-size: calc(var(--scale)*35);
            border-bottom none
        &__btn
            width 100%
            padding calc(var(--scale)*12) calc(var(--scale)*32)

    .profile-nav
        &__list 
            display: flex
            gap calc(var(--scale)*16)
        &__item
            &:not(:last-child)
                margin-bottom 0
            &:last-child
                margin-left auto
    .form
        &__title
            margin-bottom calc(var(--scale)*32)
        &__field:not(:last-child)
            margin-bottom calc(var(--scale)*16)
        &__label
            margin-bottom calc(var(--scale)*8)

    .trands
        padding calc(var(--scale)*32) 0
        &__top 
            margin-bottom calc(var(--scale)*32)
        &__link
            margin-bottom 0
            &.desktop-hidden
                display: flex

    .swiper
        margin-bottom calc(var(--scale)*32)
    .slide
        &__link
            padding calc(var(--scale)*13) calc(var(--scale)*16) calc(var(--scale)*16)
        &__top
            top calc(var(--scale)*16)
            left calc(var(--scale)*16)
            right calc(var(--scale)*16)
        &__color
            top calc(var(--scale)*255)
        &__img
            margin-bottom calc(var(--scale)*13)
        &__title
        &__descr
            margin-bottom calc(var(--scale)*8)
        &__vol
            margin-bottom calc(var(--scale)*16)
        &__price
            gap calc(var(--scale)*8)